# fly.toml app configuration file generated for single-agent-uptime-checker on 2025-02-28T17:09:22+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'single-agent-uptime-checker'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 9030
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
